.calendars {
  max-inline-size: 12.25rem;
}

.calendars-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--body1-medium);
  color: var(--gray50);
}

.calendaroption {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.calendaroption p {
  font: var(--body1-medium);
  color: var(--gray20);
}